USE [TehreekLabbaik]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 09/01/2022 19:38:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 09/01/2022 19:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Addresses]    Script Date: 09/01/2022 19:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addresses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AddressLine1] [nvarchar](100) NULL,
	[AddressLine2] [nvarchar](100) NULL,
	[AddressLine3] [nvarchar](100) NULL,
	[ZipCode] [nvarchar](15) NULL,
	[RegionId] [int] NOT NULL,
	[CityId] [int] NOT NULL,
	[DistrictId] [int] NOT NULL,
	[TehsilId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_Addresses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 09/01/2022 19:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 09/01/2022 19:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 09/01/2022 19:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 09/01/2022 19:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[RoleId] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 09/01/2022 19:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[RegisterDate] [datetime] NOT NULL,
	[RegisterIP] [nvarchar](max) NULL,
	[LastAccessDate] [datetime] NOT NULL,
	[LastAccessIP] [nvarchar](max) NULL,
	[DateOfBirth] [datetime] NULL,
	[AcceptEmail] [bit] NOT NULL,
	[Gender] [nvarchar](max) NULL,
	[LeadSourceID] [int] NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[Disabled] [bit] NOT NULL,
	[Rating] [float] NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 09/01/2022 19:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NULL,
	[Population] [int] NULL,
	[RegionId] [int] NOT NULL,
 CONSTRAINT [PK_Cities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Districts]    Script Date: 09/01/2022 19:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Districts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NULL,
	[Area] [int] NULL,
	[Population] [int] NOT NULL,
	[UrbanProportion] [decimal](18, 2) NULL,
	[RuralProportion] [decimal](18, 2) NULL,
	[NumberOfTehsils] [int] NOT NULL,
	[NumberOfCouncils] [int] NULL,
	[NumberOfUnionCouncils] [int] NULL,
	[NumberOfMauzas] [int] NULL,
	[NumberMuncipalCommities] [int] NULL,
	[RegionId] [int] NOT NULL,
 CONSTRAINT [PK_Districts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmailTemplates]    Script Date: 09/01/2022 19:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailTemplates](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Slug] [nvarchar](100) NOT NULL,
	[Subject] [nvarchar](100) NOT NULL,
	[Body] [nvarchar](max) NOT NULL,
	[SendCopy] [bit] NOT NULL,
	[Created] [datetime] NOT NULL,
	[LastUpdated] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.EmailTemplates] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProfessionalStatuses]    Script Date: 09/01/2022 19:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProfessionalStatuses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CurrentWorkStatus] [nvarchar](30) NULL,
	[RecentEducation] [nvarchar](30) NULL,
	[Profession] [nvarchar](30) NULL,
	[Experience] [nvarchar](50) NULL,
	[Description] [nvarchar](200) NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_ProfessionalStatuses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Regions]    Script Date: 09/01/2022 19:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Regions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[AreaSquareKm] [int] NULL,
	[Population] [int] NULL,
	[UrbanProportion] [decimal](18, 2) NULL,
	[RuralProportion] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Regions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tehsils]    Script Date: 09/01/2022 19:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tehsils](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[NumberOfAdminUnits] [int] NOT NULL,
	[Population] [int] NOT NULL,
	[DistrictId] [int] NOT NULL,
 CONSTRAINT [PK_Tehsils] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TempUserDetails]    Script Date: 09/01/2022 19:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TempUserDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](15) NULL,
	[FirstName] [nvarchar](80) NULL,
	[LastName] [nvarchar](80) NULL,
	[FatherName] [nvarchar](80) NULL,
	[HusbandName] [nvarchar](80) NULL,
	[YearOfBirth] [int] NULL,
	[BloodGroup] [nvarchar](10) NULL,
	[Gender] [nvarchar](10) NULL,
	[MarriedStatus] [nvarchar](12) NULL,
	[NumberOfVotersInHouse] [int] NULL,
	[EmailAddress] [nvarchar](100) NULL,
	[LandLineNumber] [nvarchar](20) NULL,
	[MobileNumber] [nvarchar](20) NULL,
	[WhatsAppNumber] [nvarchar](20) NULL,
	[IdCardNumber] [nvarchar](30) NULL,
	[CurrentWorkStatus] [nvarchar](30) NULL,
	[RecentEducation] [nvarchar](30) NULL,
	[Profession] [nvarchar](30) NULL,
	[Experience] [nvarchar](100) NULL,
	[Description] [nvarchar](200) NULL,
	[AddressLine1] [nvarchar](100) NULL,
	[AddressLine2] [nvarchar](100) NULL,
	[AddressLine3] [nvarchar](100) NULL,
	[ZipCode] [nvarchar](15) NULL,
	[RegionId] [int] NULL,
	[CityId] [int] NULL,
	[DistrictId] [int] NULL,
	[TehsilId] [int] NULL,
 CONSTRAINT [PK_TempUserDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserDetails]    Script Date: 09/01/2022 19:38:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](15) NULL,
	[FirstName] [nvarchar](80) NULL,
	[LastName] [nvarchar](80) NULL,
	[FatherName] [nvarchar](80) NULL,
	[HusbandName] [nvarchar](80) NULL,
	[YearOfBirth] [int] NOT NULL,
	[BloodGroup] [nvarchar](10) NULL,
	[Gender] [nvarchar](10) NULL,
	[MarriedStatus] [nvarchar](12) NULL,
	[NumberOfVotersInHouse] [int] NOT NULL,
	[EmailAddress] [nvarchar](100) NULL,
	[LandLineNumber] [nvarchar](20) NULL,
	[MobileNumber] [nvarchar](20) NULL,
	[WhatsAppNumber] [nvarchar](20) NULL,
	[IdCardNumber] [nvarchar](30) NULL,
	[AgreedToTc] [bit] NOT NULL,
 CONSTRAINT [PK_UserDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20210319061151_InitialMigration', N'5.0.4')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20210320101528_AddTempUserDetailsMigration', N'5.0.4')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20210325060752_ExperienceFieldMigration', N'5.0.4')
SET IDENTITY_INSERT [dbo].[Cities] ON 

INSERT [dbo].[Cities] ([Id], [Name], [Population], [RegionId]) VALUES (1, N're', 23, 1)
INSERT [dbo].[Cities] ([Id], [Name], [Population], [RegionId]) VALUES (2, N'Bagh', 0, 8)
INSERT [dbo].[Cities] ([Id], [Name], [Population], [RegionId]) VALUES (3, N'Bhimber', 0, 8)
GO
SET IDENTITY_INSERT [dbo].[Cities] OFF
SET IDENTITY_INSERT [dbo].[Districts] ON 

INSERT [dbo].[Districts] ([Id], [Name], [Area], [Population], [UrbanProportion], [RuralProportion], [NumberOfTehsils], [NumberOfCouncils], [NumberOfUnionCouncils], [NumberOfMauzas], [NumberMuncipalCommities], [RegionId]) VALUES (2, N'Barkhan', 3514, 118174, CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), 0, 0, 0, 0, 0, 5)
INSERT [dbo].[Districts] ([Id], [Name], [Area], [Population], [UrbanProportion], [RuralProportion], [NumberOfTehsils], [NumberOfCouncils], [NumberOfUnionCouncils], [NumberOfMauzas], [NumberMuncipalCommities], [RegionId]) VALUES (3, N'Kachi (Bolan)', 7499, 118175, CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), 0, 0, 0, 0, 0, 5)
INSERT [dbo].[Districts] ([Id], [Name], [Area], [Population], [UrbanProportion], [RuralProportion], [NumberOfTehsils], [NumberOfCouncils], [NumberOfUnionCouncils], [NumberOfMauzas], [NumberMuncipalCommities], [RegionId]) VALUES (4, N'Chagai', 44748, 118176, CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), 0, 0, 0, 0, 0, 5)
GO
SET IDENTITY_INSERT [dbo].[Districts] OFF
SET IDENTITY_INSERT [dbo].[ProfessionalStatuses] ON 

INSERT [dbo].[ProfessionalStatuses] ([Id], [CurrentWorkStatus], [RecentEducation], [Profession], [Experience], [Description], [UserId]) VALUES (1, N'Repudiandae at elige', N'Cupidatat ratione al', N'Eum nostrum id eius ', N'12', N'Saepe qui molestiae ', 4)
INSERT [dbo].[ProfessionalStatuses] ([Id], [CurrentWorkStatus], [RecentEducation], [Profession], [Experience], [Description], [UserId]) VALUES (2, N'Repudiandae at elige', N'Cupidatat ratione al', N'Eum nostrum id eius ', N'12', N'Saepe qui molestiae ', 5)
INSERT [dbo].[ProfessionalStatuses] ([Id], [CurrentWorkStatus], [RecentEducation], [Profession], [Experience], [Description], [UserId]) VALUES (3, N'PartTimeEmployee', N'SecondarySchoolCertification', N'Velit ut minim maior', N'ThreeToFiveYears', N'Et est excepteur ill', 1002)
SET IDENTITY_INSERT [dbo].[ProfessionalStatuses] OFF
SET IDENTITY_INSERT [dbo].[Regions] ON 

INSERT [dbo].[Regions] ([Id], [Name], [AreaSquareKm], [Population], [UrbanProportion], [RuralProportion]) VALUES (1, N'Khyber Pakhtunkhwa', 74852, 30523371, CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[Regions] ([Id], [Name], [AreaSquareKm], [Population], [UrbanProportion], [RuralProportion]) VALUES (2, N'Punjab', 204668, 110017465, CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[Regions] ([Id], [Name], [AreaSquareKm], [Population], [UrbanProportion], [RuralProportion]) VALUES (3, N'FATA', 27295, 4996556, CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Regions] OFF
SET IDENTITY_INSERT [dbo].[Tehsils] ON 

INSERT [dbo].[Tehsils] ([Id], [Name], [NumberOfAdminUnits], [Population], [DistrictId]) VALUES (2, N'Abbottabad', 0, 981590, 93)
INSERT [dbo].[Tehsils] ([Id], [Name], [NumberOfAdminUnits], [Population], [DistrictId]) VALUES (3, N'Havelian', 0, 351322, 93)
INSERT [dbo].[Tehsils] ([Id], [Name], [NumberOfAdminUnits], [Population], [DistrictId]) VALUES (4, N'Attock', 0, 434705, 92)
GO
SET IDENTITY_INSERT [dbo].[Tehsils] OFF
SET IDENTITY_INSERT [dbo].[TempUserDetails] ON 

GO
SET IDENTITY_INSERT [dbo].[TempUserDetails] OFF
SET IDENTITY_INSERT [dbo].[UserDetails] ON 

INSERT [dbo].[UserDetails] ([Id], [Title], [FirstName], [LastName], [FatherName], [HusbandName], [YearOfBirth], [BloodGroup], [Gender], [MarriedStatus], [NumberOfVotersInHouse], [EmailAddress], [LandLineNumber], [MobileNumber], [WhatsAppNumber], [IdCardNumber], [AgreedToTc]) VALUES (4, N'Mr', N'Wang', N'Fischer', N'Sebastian Hood', N'Amethyst Nunez', 1988, N'ab', N'Male', N'Married', 997, N'vaqukevyg@mailinator.com', N'771', N'25', N'624', N'25', 0)
INSERT [dbo].[UserDetails] ([Id], [Title], [FirstName], [LastName], [FatherName], [HusbandName], [YearOfBirth], [BloodGroup], [Gender], [MarriedStatus], [NumberOfVotersInHouse], [EmailAddress], [LandLineNumber], [MobileNumber], [WhatsAppNumber], [IdCardNumber], [AgreedToTc]) VALUES (5, N'Mr', N'Wang', N'Fischer', N'Sebastian Hood', N'Amethyst Nunez', 1988, N'ab', N'Male', N'Married', 997, N'vaqukevyg@mailinator.com', N'771', N'25', N'624', N'25', 0)
INSERT [dbo].[UserDetails] ([Id], [Title], [FirstName], [LastName], [FatherName], [HusbandName], [YearOfBirth], [BloodGroup], [Gender], [MarriedStatus], [NumberOfVotersInHouse], [EmailAddress], [LandLineNumber], [MobileNumber], [WhatsAppNumber], [IdCardNumber], [AgreedToTc]) VALUES (1002, N'Allama', N'Francis', N'Glover', N'Lillith Hood', N'Signe Parsons', 1993, N'APositive', N'Female', N'UnMarried', 3, N'vecicew@mailinator.com', N'669', N'211', N'16', N'403', 0)
SET IDENTITY_INSERT [dbo].[UserDetails] OFF
ALTER TABLE [dbo].[Addresses]  WITH CHECK ADD  CONSTRAINT [FK_Addresses_Cities_CityId] FOREIGN KEY([CityId])
REFERENCES [dbo].[Cities] ([Id])
GO
ALTER TABLE [dbo].[Addresses] CHECK CONSTRAINT [FK_Addresses_Cities_CityId]
GO
ALTER TABLE [dbo].[Addresses]  WITH CHECK ADD  CONSTRAINT [FK_Addresses_Districts_DistrictId] FOREIGN KEY([DistrictId])
REFERENCES [dbo].[Districts] ([Id])
GO
ALTER TABLE [dbo].[Addresses] CHECK CONSTRAINT [FK_Addresses_Districts_DistrictId]
GO
ALTER TABLE [dbo].[Addresses]  WITH CHECK ADD  CONSTRAINT [FK_Addresses_Regions_RegionId] FOREIGN KEY([RegionId])
REFERENCES [dbo].[Regions] ([Id])
GO
ALTER TABLE [dbo].[Addresses] CHECK CONSTRAINT [FK_Addresses_Regions_RegionId]
GO
ALTER TABLE [dbo].[Addresses]  WITH CHECK ADD  CONSTRAINT [FK_Addresses_Tehsils_TehsilId] FOREIGN KEY([TehsilId])
REFERENCES [dbo].[Tehsils] ([Id])
GO
ALTER TABLE [dbo].[Addresses] CHECK CONSTRAINT [FK_Addresses_Tehsils_TehsilId]
GO
ALTER TABLE [dbo].[Addresses]  WITH CHECK ADD  CONSTRAINT [FK_Addresses_UserDetails_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[UserDetails] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Addresses] CHECK CONSTRAINT [FK_Addresses_UserDetails_UserId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Cities]  WITH NOCHECK ADD  CONSTRAINT [FK_Cities_Regions_RegionId] FOREIGN KEY([RegionId])
REFERENCES [dbo].[Regions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cities] CHECK CONSTRAINT [FK_Cities_Regions_RegionId]
GO
ALTER TABLE [dbo].[Districts]  WITH NOCHECK ADD  CONSTRAINT [FK_Districts_Regions_RegionId] FOREIGN KEY([RegionId])
REFERENCES [dbo].[Regions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Districts] CHECK CONSTRAINT [FK_Districts_Regions_RegionId]
GO
ALTER TABLE [dbo].[ProfessionalStatuses]  WITH CHECK ADD  CONSTRAINT [FK_ProfessionalStatuses_UserDetails_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[UserDetails] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProfessionalStatuses] CHECK CONSTRAINT [FK_ProfessionalStatuses_UserDetails_UserId]
GO
ALTER TABLE [dbo].[Tehsils]  WITH CHECK ADD  CONSTRAINT [FK_Tehsils_Districts_DistrictId] FOREIGN KEY([DistrictId])
REFERENCES [dbo].[Districts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tehsils] CHECK CONSTRAINT [FK_Tehsils_Districts_DistrictId]
GO
